# executables
*.exe
*.out

# object files
*.o
*.obj

# precompiled headers
*.gch

# build folders
build/
cmake-build-*/
release/
debug/
.qtcreator/
Makefile.Debug
Makefile.Release
# vscode
.vscode/

# windows
*.dll